<div class="banner">
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="flat-content col-8">
          <div class="header bg-light">
            <h1><%= @flat.name %></h1>
            <p><%= @flat.address %></p>
          </div>
          <div class="description bg-light">
            <h2>A bit more about this flat...</h2>
            <p><%= @flat.description %></p>
            <div class="map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=<%= @flat.address %>&zoom=13&scale=2&size=1000x1000&maptype=roadmap&markers=color:red%7C<%= @flat.address %>&key=AIzaSyAPpx0wk4d-AQ8bhe8-a-ihC7NXLoPElhg')"></div>
          </div>
        </div>
        <div class="sidebar col-4 bg-light">
          <h2>Book this place!</h2>
          <div class="details">
            <h3>Détails</h3>
            <i class="fa-solid fa-euro-sign"></i><%= @flat.price_per_night %>
            <i class="fa-solid fa-people-group"></i><%= @flat.number_of_guests %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
